
@{
    ViewData["Title"] = "about";
}

<h2>about</h2>
<h3>this is the about page</h3>
<img src="~/images/university-of-notre-dame-1888208__340.jpg" width="200" height="200" asp-append-version="true" alt="Alternate Text" />

